

@model firstEntityASP.Models.ValidateViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form action="" method="POST">
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
    <label for="firstName">First Name:</label><br>
    <input asp-for="firstName" type="text" name="firstName"><br>
    <span asp-validation-for="firstName"></span><br><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <label for="lastName">Last Name:</label><br>
    <input asp-for="lastName" type="text" name="lastName"><br>
    <span asp-validation-for="lastName"></span><br><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <label for="email">Email:</label><br>
    <input asp-for="email" type="text" name="email"><br>
    <span asp-validation-for="email"></span><br><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <label for="password">Password:</label><br>
    <input asp-for="password" type="password" name="password"><br>
    <span asp-validation-for="password"></span><br><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <label for="confirmPassword">Confirm Password:</label><br>
    <input asp-for="confirmPassword" type="password" name="confirmPassword"><br>
    <span asp-validation-for="confirmPassword"></span><br><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <input type="submit" name="Register">
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
    
</form>