


@{
    ViewData["Title"] = "Home Page";
}

<!-- ======================================================================================== -->
<!-- TO DISPLAY ALL MY Users -->
<!-- ======================================================================================== -->

@{
    foreach(var user in ViewBag.Users){
        <h3>Name: @user.firstName @user.lastName -- Email: @user.email</h3>
    }
}
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
